### AL ###
#Template for AL projects for Dynamics 365 Business Central
#

myenv/
OZS-20240404/cert/
# workspace/aws-iot-device-sdk-python-v2/.builder/
# workspace/aws-iot-device-sdk-python-v2/.github/
# workspace/aws-iot-device-sdk-python-v2/awsiot/
# workspace/aws-iot-device-sdk-python-v2/codebuild/
# workspace/aws-iot-device-sdk-python-v2/deviceadvisor/
# workspace/aws-iot-device-sdk-python-v2/documents/
# workspace/aws-iot-device-sdk-python-v2/servicetests/